h1 {
  font-size: 25px;
  text-align: center;
  color: #3a834c;
}

img {
  display: flex;
  align-items: center;
  margin: auto;
  margin-top: 22px;
  max-width: 44vh;
  max-height: 55vh;
}

p {
  padding-left: 3px;
  padding-right: 3px;
  text-align: center;
  font-weight: 100;
}
