img {
  display: block;
  text-align: center;
  align-items: auto;
  margin: auto;
  margin-top: 22px;
  max-width: 44vh;
  max-height: 55vh;
}

.p1 {
  display: block;
  align-items: center;
  max-width: 42vh;
  padding-left: 3px;
  padding-right: 3px;
  text-align: center;
  font-weight: 100;
}
.p2 {
  display: block;
  align-items: center;
  max-width: 42vh;
  padding-left: 3px;
  padding-right: 3px;
  text-align: center;
  font-weight: 100;
}
