/*made by Lars Ree*/
img {
  display: block;
  text-align: center;
  align-items: auto;
  margin: auto;
  margin-top: 22px;
  max-width: 44vh;
  max-height: 55vh;
}

.p1 {
  align-items: center;
  padding-left: 3px;
  padding-right: 3px;
  text-align: center;
  font-weight: 100;
}
.p2 {
  align-items: center;
  padding-left: 3px;
  padding-right: 3px;
  text-align: center;
  font-weight: 100;
}
body {
  text-align: center;
}
@media screen and (max-width: 750px) {
  body {
    text-align: center;
  }
}
.about {
  padding-left: 0%;
  margin-left: 0%;
}
