/*made by Lars Ree*/

img {
  display: flex;
  align-items: center;
  margin: auto;
  margin-top: 22px;
  max-width: vh;
  max-height: 50vh;
  padding-bottom: 10px;
}
p {
  text-align: center;
  font-weight: 100;
}
.right {
  display: none;
}
