img {
  display: flex;
  align-items: center;
  margin: auto;
  margin-top: 22px;
  max-width: 44vh;
  max-height: 55vh;
}
footer {
  background: chartreuse;
  min-height: 22vh;
  color: aliceblue;
}
