iframe {
  max-width: 95%;
  align-items: center;
  padding-top: 5vh;
  padding-left: 1.5vh;
}
main {
  display: block;
  align-items: center;
  text-align: center;
  max-width: 350px;
}
body {
  text-align: center;
}

.p1 {
  font-weight: 200;
  letter-spacing: 0.1px;
  line-height: 20px;
  font-size: 18px;
}
.poslo {
  border-top: solid black 1px;
  padding-top: 45px;
  padding-bottom: 0;
}

.oslo {
  padding-top: 0%;
  padding-bottom: 5px;
}

.pbergen {
  border-top: solid black 1px;
  padding-top: 45px;
  padding-bottom: 0;
}
.bergen {
  padding-top: 0%;
}

.ptrondheim {
  border-top: solid black 1px;
  padding-top: 45px;
  padding-bottom: 0;
}
.trondheim {
  padding-top: 0%;
}

.pgardermoen {
  border-top: solid black 1px;
  padding-top: 45px;
  padding-bottom: 0;
}

.gardermoen {
  padding-top: 0%;
  padding-bottom: 10px;
}
